{
  description = "Valkyrie Flake";

  inputs.nixpkgs.url = "github:NixOS/nixpkgs/{{ .NIXPKGS_REV }}";

  outputs = { self, nixpkgs }:
    let
      supportedSystems = [ "x86_64-linux" "aarch64-linux" "x86_64-darwin" "aarch64-darwin" ];
      forEachSupportedSystem = f: nixpkgs.lib.genAttrs supportedSystems (system: f {
        pkgs = import nixpkgs { inherit system; };
      });
    in
    {
      devShells = forEachSupportedSystem ({ pkgs }: {
        default = pkgs.mkShell {
            packages = with pkgs; [
              {{ range .SystemDependencies }}
              {{ . -}}
              {{ end }}
            ];
            shellHook = ''
              {{- if .SystemSetup }}
              {{ .SystemSetup }}
              {{- end }}

              {{- if .Setup }}
              {{ .Setup }}
              {{- end }}

              {{- if .Command }}
              {{ .Command }}
              {{- if .CmdLineArgs }} {{ .CmdLineArgs }}{{ end }}
              {{- if .Input }} < input.txt {{ end -}} >> output.txt 2>&1

              {{- else }}

              {{ block "compile" . }}{{ end }}
              {{ block "execute" . }}{{ end -}}
              {{- if .CmdLineArgs }} {{ .CmdLineArgs }}{{ end }}
              {{- if .Input }} < input.txt {{ end -}} >> output.txt 2>&1

              {{- end }}
            '';
          };
      });
    };
}
