#!/bin/bash

{{- if .SystemSetup }}
{{ .SystemSetup }}
{{- end }}

{{- if .Setup }}
{{ .Setup }}
{{- end }}

{{- if .Command }}
{{ .Command }}
{{- if .CmdLineArgs }} {{ .CmdLineArgs }}{{ end }}
{{- if .Input }} < input.txt {{ end -}} >> output.txt 2>&1

{{- else }}

{{ block "compile" . }}{{ end }}
{{ block "execute" . }}{{ end -}}
{{- if .CmdLineArgs }} {{ .CmdLineArgs }}{{ end }}
{{- if .Input }} < input.txt {{ end -}} >> output.txt 2>&1

{{- end }}
