{
  description = "Flake";

  inputs.nixpkgs.url = "github:NixOS/nixpkgs/nixos-24.05";

  outputs = { self, nixpkgs }:
    let
      supportedSystems = [ "x86_64-linux" "aarch64-linux" "x86_64-darwin" "aarch64-darwin" ];
      forEachSupportedSystem = f: nixpkgs.lib.genAttrs supportedSystems (system: f {
        pkgs = import nixpkgs { inherit system; };
      });
    in
    {
      devShells = forEachSupportedSystem ({ pkgs }: {
        default = pkgs.mkShell {
            packages = with pkgs; [
              {{ block "LangSetup" . }}{{.LangNixPkg}}{{ end -}}
              {{ range .SystemDependencies }}
              {{ . -}}
              {{ end }}
            ];
            shellHook = ''
              {{- if .Setup }}
              {{ .Setup }}
              {{- end }}

              {{- if .Command }}
              {{ .Command }}
              {{- else }}
              {{- block "compile" . }}{{ end }}
              {{- end }}

              {{ if .Input }}cat input.txt | {{ end -}}
              {{- block "execute" . }}{{ end -}}
              {{- if .CmdLineArgs }} {{ .CmdLineArgs }}{{ end }}
            '';
          };
      });
    };
}
