{{ if .Setup -}}
{{ .Setup }}
{{ end }}

export PATH="$PATH:$NIXPATHS"

{{ if .Command -}}
{{ .Command }}
{{ else -}}
{{ block "compile" . }}{{ end }}
{{- if .Input -}}cat input.txt | {{- end -}}{{ block "execute" . }}{{ end }}{{ if ne .CmdLineArgs "" }}{{ .CmdLineArgs -}}{{ end }}
{{ end }}