openapi: 3.0.2
info:
  title: API Title
  version: 0.0.1
  license:
    name: MIT
    url: https://github.com/deepakdinesh1123/valkyrie/blob/main/LICENSE
servers:
  - url: http://usevalkyrie.odin.org/api/v1
paths:
  /executions/execute:
    post:
      summary: Execute a script
      description: Execute a script
      operationId: execute
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobId
                  - events
                properties:
                  jobId:
                    type: integer
                    format: int64
                  events:
                    type: string
                    format: url
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/execution:
    get:
      summary: Get all execution jobs
      description: Get all execution jobs
      operationId: getAllExecutionJobs
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobs
                  - pagination
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /executions:
    get:
      summary: Get all executions
      description: Get all executions
      operationId: getAllExecutions
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - executions
                  - pagination
                properties:
                  executions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExecutionResult'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/{JobId}/executions:
    get:
      summary: Get executions of given job
      description: Get executions of given job
      operationId: getExecutionsForJob
      parameters:
        - name: JobId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - executions
                  - pagination
                properties:
                  executions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExecutionResult'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Execution job not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /executions/{execId}:
    get:
      summary: Get execution result by id
      description: Get execution result by id
      operationId: getExecutionResultById
      parameters:
        - name: execId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Execution result not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /executions/jobs/{JobId}:
    get:
      summary: Get execution job
      description: Get execution job
      operationId: getExecutionJobById
      parameters:
        - name: JobId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Execution job not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Cancel Execution Job
      description: Cancel Execution Job
      operationId: cancelExecutionJob
      parameters:
        - name: JobId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete execution job
      description: Delete execution job
      operationId: deleteExecutionJob
      parameters:
        - name: JobId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
        '404':
          description: Execution job not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /version:
    get:
      summary: Get version
      description: Get version
      operationId: getVersion
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - version
                properties:
                  version:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /execution/config:
    get:
      summary: Get execution config
      description: Get execution config
      operationId: getExecutionConfig
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionConfig'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /languages:
    get:
      summary: Get all languages
      description: Get all languages
      operationId: getAllLanguages
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - languages
                properties:
                  languages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
        '403':
          description: Forbidden
  /search/system:
    get:
      summary: Search for system packages
      description: Search for system packages
      operationId: SearchSystemPackages
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
        - $ref: '#/components/parameters/SearchString'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - packages
                properties:
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Package'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /search/language:
    get:
      summary: Search for language specific packages
      description: Search for language specific packages
      operationId: SearchLanguagePackages
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/SearchString'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - packages
                properties:
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Package'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /packages/exist/:
    post:
      summary: Verify package list is available.
      description: Verify the package list is available for the language version while switching between language versions.
      operationId: PackagesExist
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageExistRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - exists
                properties:
                  exists:
                    type: boolean
                    description: Indicate all packages' existance for given language
                    example: false
                  nonExistingPackages:
                    type: array
                    description: List of packages that do not exist for the language
                    items:
                      type: string
                    example:
                      - nonexistent-package
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    AuthHeader:
      name: X-Auth-Token
      in: header
      description: Authentication token
      required: false
      schema:
        type: string
    PageNumber:
      name: page
      in: query
      description: The page number to retrieve.
      required: false
      schema:
        type: integer
        format: int32
        default: 0
    PageSize:
      name: pageSize
      in: query
      description: The number of items per page.
      required: false
      schema:
        type: integer
        format: int32
        default: 20
    SearchString:
      name: searchString
      in: query
      description: The string to be searched.
      required: true
      schema:
        type: string
    Language:
      name: language
      in: query
      description: The language for which the package is searched.
      required: true
      schema:
        type: string
  schemas:
    EnvironmentVariable:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ExecutionEnvironmentSpec:
      type: object
      properties:
        environment_variables:
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentVariable'
        languageDependencies:
          type: array
          items:
            type: string
        systemDependencies:
          type: array
          items:
            type: string
        setup:
          type: string
    ExecutionRequest:
      type: object
      properties:
        environment:
          $ref: '#/components/schemas/ExecutionEnvironmentSpec'
        code:
          type: string
        language:
          type: string
          default: bash
        max_retries:
          type: integer
          format: int4
          default: 5
        timeout:
          type: integer
          format: int32
          default: -1
        cmdLineArgs:
          type: string
        compileArgs:
          type: string
        command:
          type: string
        files:
          type: string
          format: byte
        input:
          type: string
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    Job:
      type: object
      required:
        - jobId
        - script
        - flake
        - created_at
      properties:
        jobId:
          type: integer
          format: int64
        script:
          type: string
        flake:
          type: string
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PaginationResponse:
      type: object
      required:
        - total
        - limit
        - offset
      properties:
        total:
          type: integer
          format: int64
          description: Represents the total number of items.
        pages:
          type: integer
          format: int32
          description: Represents the total number of pages.
        page:
          type: integer
          format: int32
          description: Represents the current page.
        limit:
          type: integer
          format: int32
          description: Represents the number of items per page.
        next:
          type: string
    ExecutionResult:
      allOf:
        - $ref: '#/components/schemas/Job'
        - type: object
          required:
            - execId
            - started_at
            - finished_at
            - exec_logs
          properties:
            execId:
              type: integer
              format: int64
            flake:
              type: string
            started_at:
              type: string
              format: date-time
            finished_at:
              type: string
              format: date-time
            exec_logs:
              type: string
            nix_logs:
              type: string
    ExecutionConfig:
      type: object
      required:
        - ODIN_WORKER_PROVIDER
        - ODIN_WORKER_CONCURRENCY
        - ODIN_WORKER_BUFFER_SIZE
        - ODIN_WORKER_TASK_TIMEOUT
        - ODIN_WORKER_POLL_FREQ
        - ODIN_WORKER_RUNTIME
        - ODIN_LOG_LEVEL
      properties:
        ODIN_WORKER_PROVIDER:
          type: string
          description: Represents the worker provider.
        ODIN_WORKER_CONCURRENCY:
          type: integer
          format: int32
          description: Represents the concurrency level for the worker.
        ODIN_WORKER_BUFFER_SIZE:
          type: integer
          format: int32
          description: Represents the buffer size for the worker.
        ODIN_WORKER_TASK_TIMEOUT:
          type: integer
          description: Represents the task timeout.
        ODIN_WORKER_POLL_FREQ:
          type: integer
          description: Represents the polling frequency for the worker in seconds.
        ODIN_WORKER_RUNTIME:
          type: string
          description: Represents the runtime for the worker in seconds.
        ODIN_LOG_LEVEL:
          type: string
          description: Represents the log level.
        ODIN_SYSTEM_PROVIDER_BASE_DIR:
          type: string
          description: Represents the base directory for the system provider.
        ODIN_SYSTEM_PROVIDER_CLEAN_UP:
          type: boolean
          description: Represents whether to clean up directories created by the system provider.
    Language:
      type: object
      required:
        - name
        - extension
        - defaultcode
        - monacolanguage
        - searchquery
      properties:
        name:
          type: string
          description: Name of the programming language
        extension:
          type: string
          description: File extension for the programming language
        defaultcode:
          type: string
          description: Default code snippet for the programming language
        monacolanguage:
          type: string
          description: Monaco editor language setting for the programming language
        searchquery:
          type: string
          description: The search query to be passed to SearchLanguagePackages API for this language
    Package:
      type: object
      required:
        - name
        - version
      properties:
        name:
          type: string
          description: Name of the package
        version:
          type: string
          description: Version of the package
    PackageExistRequest:
      type: object
      required:
        - language
        - packages
      properties:
        language:
          type: string
          description: The language to check the packages against
          example: python311Packages
        packages:
          type: array
          description: List of packages to verify.
          items:
            type: string
          example:
            - requests
            - numpy
            - nonexistent-pkg
