#!/usr/bin/env nix-shell
#! nix-shell -i bash --pure
#! nix-shell -p '{{.LangNixPkg}}.withPackages( p: [ {{ range .LanguageDependencies }} p.{{.}} {{ end }} ] )'
#! nix-shell -p {{ range .SystemDependencies}} {{.}} {{end}}

# python main.py {{ if ne .Args "" }}{{ .Args }}{{ end }} >> output.txt 2>&1
python main.py >> output.txt 2>&1