{
  description = "A simple flake example";
  inputs.nixpkgs.url = "github:NixOS/nixpkgs/nixos-24.05";

  outputs = { self, nixpkgs }:
    let
      supportedSystems = [ "x86_64-linux" "x86_64-darwin" "aarch64-linux" "aarch64-darwin" ];
      forAllSystems = nixpkgs.lib.genAttrs supportedSystems;
    in
    {
      packages = forAllSystems (system:
        let
          pkgs = import nixpkgs { inherit system; };
        in
        {
          geri = pkgs.writeShellApplication {
            name = "geri";
            runtimeInputs = with pkgs; [
              ({{.LangNixPkg}}.withPackages (python-pkgs: [
                {{ range .LanguageDependencies }}
                python-pkgs.{{.}}
                {{ end }}
              ]))
              {{ range .SystemDependencies }}
              {{.}}
              {{ end }}
            ];
            text = ''
              python main.py {{ if ne .Args "" }}{{ .Args }}{{ end }}
            '';
          };
        });

      apps = forAllSystems (system: {
        default = {
          type = "app";
          program = "${self.packages.${system}.geri}/bin/geri";
        };
      });
    };
}