{{ define "LangSetup" }}
{{- if .IsFlake -}}
          ({{.LangNixPkg}}.withPackages (ruby-pkgs: [
            {{ range .LanguageDependencies -}}
              ruby-pkgs.{{.}}
            {{ end -}}
          ]))
{{- else -}}
'{{.LangNixPkg}}.withPackages( p: [ {{ range .LanguageDependencies }} p.{{.}} {{ end }} ] )'
{{- end -}}
{{ end }}

{{  define "execute" }} ruby main.rb {{ end }}