{{ define "LangSetup" }}
{{- if .IsFlake -}}
          ({{.LangNixPkg}}.withPackages (lua-pkgs: [
            {{ range .LanguageDependencies -}}
              lua-pkgs.{{.}}
            {{ end -}}
          ]))
{{- else -}}
'{{.LangNixPkg}}.withPackages( p: [ {{ range .LanguageDependencies }} p.{{.}} {{ end }} ] )'
{{- end -}}
{{ end }}

{{  define "execute" }} lua main.lua {{ end }}