[package]
name = "{{ .PackageName }}"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
{{ range .LanguageDependencies }}
    {{ if .Features }}
        {{ if .DefaultFeatures }}
                {{ .Name }} = { version = "{{ .Version }}", features = [ {{ range .Features }}  "{{ . }}" {{ end }} ] }
        {{ else }}
                {{ .Name }} = { version = "{{ .Version }}",default-features = false, features = [ {{ range .Features }}  "{{ . }}" {{ end }} ] }
        {{ end }}
    {{ else }}
        {{ .Name }} = "{{ .Version }}"
    {{ end }}
{{ end }}