{
  description = {{ .Description }};

  inputs = {
    nixpkgs.url      = "github:NixOS/nixpkgs/nixos-unstable";
    rust-overlay.url = "github:oxalica/rust-overlay";
    flake-utils.url  = "github:numtide/flake-utils";
  };

  outputs = { self, nixpkgs, ... }:
    flake-utils.lib.eachDefaultSystem (system: 
    let
      pkgs = import nixpkgs { inherit system; };
      rustPlatform = pkgs.makeRustPlatform {
        cargo = {{ .RustVersion }};
        rustc = {{ .RustVersion }};
      };
    in rec {
        systemDependencies = with pkgs; [ {{ range .SystemDependencies }} {{ . }} {{ end }} ];
        devShells.default =  pkgs.mkShell {
          buildInputs = [ {{ .RustVersion }} ] ++ systemDependencies;
          shellHook = ''
              cargo run -- {{ .CmdLineArgs }}
              exit
          '';
        };
      }
    );
}
