{
  description = \"Odin Sandbox Flake\";

  inputs = {
    nixpkgs.url = \"{{ .NIXPKGS_URL }}\";
    flake-utils.url = \"/var/cache/flake-utils/numtide-flake-utils-11707dc\";
  };

  outputs = {
    self,
    nixpkgs,
    flake-utils,
  } @ inputs:
    flake-utils.lib.eachDefaultSystem
    (
      system: let
        pkgs = import nixpkgs {
          inherit system;
        };
      in {
        packages.default = pkgs.buildEnv {
          name = \"Odin Sandbox Environment\";
          paths = with pkgs; [
            {{ range .Languages -}}
            {{ . }}
            {{- end }}
            {{- range .SystemDependencies }}
            {{ . }}
            {{- end }}
          ];
        };
        devShells.default = pkgs.mkShell {
          buildInputs = with pkgs; [
            {{ range .Languages -}}
            {{ . }}
            {{- end }}
            {{- range .SystemDependencies }}
            {{ . }}
            {{- end }}
          ];
        };
      }
    );
}
