{{ define "LangSetup" }}
{{- if .Flake -}}
          ({{.LangNixPkg}}.withPackages ([
            {{ range .LanguageDependencies -}}
              "{{.}}"
            {{ end -}}
          ]))
{{- else -}}
'{{.LangNixPkg}}.withPackages( [ {{ range .LanguageDependencies }}"{{.}}" {{ end }} ] )'
{{- end -}}
{{ end }}

{{  define "execute" }} julia main.jl {{ end }}